body {
	padding-top: 75px;
}

.page-title {
	margin-top: 4px;
	margin-bottom: 20px;
}

.login {
	min-height: 170px;
}

.footer {
	font-size: 80%;
	color: #bbb;
	text-align: right;
	border-top: 1px solid #eee;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}