		<div class="row footer">
			<div class="col-xs-12">
				Powered by <a target="_blank" href="https://github.com/oal/admin">Admin</a> | 
				Built with <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
				and <a target="_blank" href="http://glyphicons.com/">Glyphicons</a>
			</div>
		</div>

		</div>

		<script src="{{.path}}/static/js/jquery.min.js"></script>
		<script src="{{.path}}/static/js/bootstrap.min.js"></script>
		<script src="{{.path}}/static/js/admin.js"></script>
	</body>
</html>