<!DOCTYPE html>
<html>
	<head>
		<title>{{.title}}</title>
		<link rel="stylesheet" href="{{.path}}/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{.path}}/static/css/admin.css">
	</head>
	<body>
		<div class="container">
			<div class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{.path}}">{{.title}}</a>
					</div>
					<div class="navbar-collapse collapse">
						{{if eq .anonymous false}}
							<ul class="nav navbar-nav navbar-right">
								<li><a href="{{.path}}/logout/">Log out</a></li>
							</ul>
						{{end}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{{range .messages}}
						<div class="alert alert-{{.Class}} alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							{{.Text}}
						</div>
					{{end}}
				</div>
			</div>