{{template "header.html" .}}
<div class="row">
	<div class="col-sm-5">
		<h2 class="page-title">{{.name}}</h2>
	</div>
	<div class="col-sm-5">
		<a href="new/" class="btn btn-primary pull-right">New <strong>{{.name}}</strong></a>
	</div>
	<div class="col-sm-2">
		<form method="get" action=".">
			<input type="search" name="q" placeholder="Search..." class="form-control" value="{{.q}}">
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
			<thead>
				<tr>
					{{range $index, $colName := .colNames}}
						<th>
							{{if eq $.sort $colName}}
								<small class="glyphicon glyphicon-chevron-{{if $.sortDesc}}down{{else}}up{{end}}"></small>
								<a href="?sort={{if not $.sortDesc}}-{{end}}{{$colName}}">{{index $.columns $index}}</a>
							{{else}}
								<a href="?sort={{$colName}}">{{index $.columns $index}}</a>
							{{end}}
						</th>
					{{end}}
					<th style="width: 100px">&nbsp;</th>
				</tr>
			</thead>
				<tbody>
					{{range $result := .results}}
						<tr>
							{{range $i, $col := $result}}
								<td>{{$col}}</td>
							{{end}}
							<td>
								<a href="edit/{{index $result 0}}" class="btn btn-primary btn-block btn-sm">Edit</a>
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-9">
		{{if gt .numPages 1}}
		<ul class="pagination pages-list">
			{{range .pages}}
				<li{{if eq $.page .}} class="active"{{end}}><a href="?page={{.}}{{if $.q}}&q={{$.q}}{{end}}">{{.}}</a></li>
			{{end}}
		</ul>
		{{end}}
	</div>
	<div class="col-sm-3 text-right">{{.rows}} objects found.</div>
</div>
{{template "footer.html" .}}