{{template "header.html" .}}
<div class="row">
	<div class="col-sm-5">
		<h2 class="page-title">{{.name}}</h2>
	</div>
	<div class="col-sm-5">
		<a href="new/" class="btn btn-primary pull-right">New <strong>{{.name}}</strong></a>
	</div>
	<div class="col-sm-2">
		<form method="get" action=".">
			<input type="search" name="q" placeholder="Search..." class="form-control" value="{{.q}}">
		</form>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	<div class="table-responsive">
		<table class="table table-striped">
		<thead>
			<tr>
				{{range $col := .columns}}
					<th>{{$col}}</th>
				{{end}}
				<th style="width: 100px">&nbsp;</th>
			</tr>
		</thead>
			<tbody>
				{{range $result := .results}}
					<tr>
						{{range $i, $col := $result}}
							{{/* First column is always ID, so skip it. */}}
							{{if eq $i 0}}{{if eq $.skipId false}}<td>{{$col}}</td>{{end}}{{else}}<td>{{$col}}</td>{{end}}
						{{end}}
						<td>
							<a href="edit/{{index $result 0}}" class="btn btn-primary btn-block btn-sm">Edit</a>
						</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>

	</div>
</div>
{{template "footer.html" .}}